*{
    margin: 10;
    padding: 10;
}
.nav{
    height: 100px;
    display: flex;
    background-color: steelblue;
    justify-content: start;
    align-items: center;
}
img{
    height: 60px;
    flex:1;
}
ul{
    list-style: none;
    flex: 7;
    display: flex;
    justify-content: space-evenly;
}
a {
    color: white;
    text-decoration: none;
}
h1{
    flex:2;
    color: white;
}